body {
    background-color: #E0C9A6;
}

caption {
    font-family: Perpetua;
}

h1, h2, h3 {
    font-family: Perpetua;
}

.letter {
    text-align: center;
}

img {
    filter: sepia(100%);
}

div, tr, td, p {
    font-family: Book Antiqua;
    font-style: italic;
}

tr, td {
    text-align: center;
}

.contents {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.poem1.italic {
    margin-left: 30%;
}

.right.max-width30 {
    margin-left: 15%;
}

table caption#caption1 {
    font-style: italic;
    margin-left: 7%;
    font-family: Book Antiqua;
    font-size: 120%;
}

table tr td[colspan="3"] * {
    margin-top: -8%;
    margin-bottom: 3%;
    margin-left: 5%;
    font-family: Book Antiqua;
    font-weight: bold;
    font-size: 120%;
}

table caption#caption1 {
    margin-top: 5%;
}
